name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  create-oci-image:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/vitistack/gslb-operator
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set release date
        id: date
        run: echo "DATE=$(date +%Y-%m-%d)" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            VERSION=${{ github.ref_name }}
            DATE=${{ steps.date.outputs.DATE }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
  build-and-publish-helm-chart:
    needs:
      - create-oci-image
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Install helm
        uses: azure/setup-helm@v1
        with:
          version: v3.16.4

      - name: install-yq
        env:
          VERSION: v4.44.5
          BINARY: yq_linux_amd64
        run: |
          wget https://github.com/mikefarah/yq/releases/download/${VERSION}/${BINARY}.tar.gz -O - | tar xz && mv ${BINARY} yq && chmod +x yq

      - name: build and push chart
        env: 
          VERSION: ${{ github.ref_name }}
        run: |
          export HELM_VERSION=${VERSION#v*}
          ./yq e -i '.version = strenv(HELM_VERSION),.appVersion = strenv(VERSION)' chart/ipam-operator/Chart.yaml
          ./yq e -i '.global.controller.tag = strenv(HELM_VERSION),.global.controller.repository = "ncr.sky.nhn.no/ghcr/vitistack/ipam-operator"' chart/ipam-operator/values.prod.yaml
          ./yq e -i '.global.controller.tag = strenv(HELM_VERSION),.global.controller.repository = "ncr.sky.nhn.no/ghcr/vitistack/ipam-operator"' chart/ipam-operator/values.test.yaml
          helm package chart/ipam-operator
          echo  ${{ secrets.GITHUB_TOKEN }} | helm registry login -u ${{ github.actor }} ghcr.io --password-stdin
          helm push ipam-operator-${HELM_VERSION}.tgz oci://ghcr.io/vitistack/helm/
